.BookList {
  margin: 0;
  

  &__number {
    display: flex;
    justify-content: center;
    
    font-size: 16px;
  }

  &__element {
    display: grid;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    grid-template-columns: repeat(1, 300px);
  
    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 300px);
    }
  
    @media (min-width: 1080px) {
      grid-template-columns: repeat(3, 300px);
    }
  
    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 300px);
    }
  
    &--card {
      
      height: 450px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgb(216, 222, 228);
      
    }
  }
}

